{% extends 'base.html.twig' %}

{% block title %}Mécanique de jeu{% endblock %}

{% block body %}
    <h1>Mécanique de jeu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game_play.id }}</td>
            </tr>
            <tr>
                <th>Mécanique de jeu</th>
                <td>{{ game_play.namePlay }}</td>
            </tr>
            <tr>
                <th>Définition</th>
                <td>{{ game_play.definition }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('game_play_index') }}">Retour à la liste</a>

    <a href="{{ path('game_play_edit', {'id': game_play.id}) }}">Éditer</a>

    {{ include('game_play/_delete_form.html.twig') }}
{% endblock %}
