{% extends 'base.html.twig' %}

{% block title %}Jeu{% endblock %}

{% block body %}
    <h1>Jeu de plateau</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ game.name }}</td>
            </tr>
            <tr>
                <th>Règle</th>
                <td>{{ game.rule }}</td>
            </tr>
            <tr>
                <th>Âge</th>
                <td>{{ game.age }}</td>
            </tr>
            <tr>
                <th>Photo/illustration du jeu</th>
                <td>{{ game.poster }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ game.creationDate|date ('Y') }}</td>
            </tr>
            <tr>
                <th>Temps de jeu minimum</th>
                <td>{{ game.gameTimeMin ? game.gameTimeMin|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Temps de jeu maximum</th>
                <td>{{ game.gameTimeMax ? game.gameTimeMax|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de joueur minimum</th>
                <td>{{ game.numberPlayerMin }}</td>
            </tr>
            <tr>
                <th>Nombre de joueur maximum</th>
                <td>{{ game.numberPlayerMax }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('game_index') }}">Retour à la liste</a>

    <a href="{{ path('game_edit', {'id': game.id}) }}">Éditer</a>

    {{ include('game/_delete_form.html.twig') }}
{% endblock %}
