{% extends 'base.html.twig' %}

{% block title %}Liens{% endblock %}

{% block body %}
    <h1>Liens</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ link.id }}</td>
            </tr>
            <tr>
                <th>Lien sur internet</th>
                <td>{{ link.address }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ link.picture }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('link_index') }}">Retour à la liste</a>

    <a href="{{ path('link_edit', {'id': link.id}) }}">Éditer</a>

    {{ include('link/_delete_form.html.twig') }}
{% endblock %}
