{% extends 'base.html.twig' %}

{% block title %}Frequency{% endblock %}

{% block body %}
    <h1>Frequency</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ frequency.id }}</td>
            </tr>
            <tr>
                <th>UseGame</th>
                <td>{{ frequency.useGame ? frequency.useGame|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>GameRound</th>
                <td>{{ frequency.gameRound }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ frequency.score }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('frequency_index') }}">back to list</a>

    <a href="{{ path('frequency_edit', {'id': frequency.id}) }}">edit</a>

    {{ include('frequency/_delete_form.html.twig') }}
{% endblock %}
