<div class="text-center mb-5">
    <a class="" href="#"><img class="img-fluid w-50" src="{{ asset('build/images/ojaqlogo.png') }}" alt="logo"></a>
</div>

<nav class="navbar navbar-expand-sm justify-content-center navColor m-0 p-0" >
    <ul class="nav typo">
        <li class="nav-item">
            <a class="nav-link text-menu h2 ml-5 mr-5 mb-0" href="{{ path('home_game') }}"><img class="icon-nav mr-2" src="{{ asset('build/images/d10.png') }}" alt="icon-play">Mes jeux</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-menu h2 ml-5 mr-5 mb-0" href="#"><img class="icon-nav mr-2" src="{{ asset('build/images/parchment.png') }}" alt="icon-category">Par catégories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-menu h2 ml-5 mr-5 mb-0" href="#"><img class="icon-nav mr-2" src="{{ asset('build/images/meeple-king.png') }}" alt="icon-perso">Mon compte</a>
        </li>
    </ul>
</nav>
