{% extends 'base.html.twig' %}

{% block title %}Complexité du jeu{% endblock %}

{% block body %}
    <h1>Complexité du jeu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ complexity.id }}</td>
            </tr>
            <tr>
                <th>Nom du niveau</th>
                <td>{{ complexity.nameLevel }}</td>
            </tr>
            <tr>
                <th>Explication</th>
                <td>{{ complexity.explanation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('complexity_index') }}">Retour à la liste</a>

    <a href="{{ path('complexity_edit', {'id': complexity.id}) }}">Éditer</a>

    {{ include('complexity/_delete_form.html.twig') }}
{% endblock %}
